rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isRegisteredUser() {
      return request.auth != null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    match /{document=**} {
      allow read: if true;
    }

    match /vsds/{vsdId} {
      allow create, update, delete: if isRegisteredUser();
    }
    
    match /equipment/{equipmentId} {
      allow create, update, delete: if isRegisteredUser();
    }

    match /tasks/{taskId} {
      allow create, update, delete: if isRegisteredUser();
    }

    match /breakdown_reports/{breakdownReportId} {
      allow create, update, delete: if isRegisteredUser();
    }
  }
}
